{% extends 'base.html' %}

{% block body1 %}
    <div id="body1">
        <div class="course-obj">
            <div class="course-obj-photo-and-title course-obj-border-bottom">

            <div class="course-obj-name">
                <p> {{ course.id_card }} </p>
            </div>
            </div>
            <div class="course-obj-tutor-and-category course-obj-border-bottom">

                <div class="course-obj-category">
                    <span class="course-obj-titles">Выбранная видеокарта</span><br><br><br>
                    <p class="course-obj-data">{{ course.card_name }}</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}